agtc-output {
  margin-top: 20px;
}

agtc-result {
  display: block;
  box-sizing: border-box;
  margin-top: 20px;
  white-space: normal;
  font-family: Consolas, Courier, monospace;
  border: 1px solid #555; /* 边框颜色 */
  padding: 15px;             /* 边框内边距 */
  background-color: #000; /* 稍亮的深色背景，突出显示区域 */
  border-radius: 4px;        /* 稍微圆角化 */
  width: 100%;
}

/* 头部输出文字间距控制 */
agtc-result header {
  color: #FFF;
  margin-bottom: 10px;
  line-height: 1.4;
}

agtc-result header > div {
  margin-bottom: 3px;
}

agtc-result .temps {
  display: flex;
  gap: 20px;
  color: #55F;
}

/* 表格样式优化 */
agtc-result table {
  border-collapse: collapse;
  width: 100%;
  max-width: 700px;
  margin-top: 10px;
}

agtc-result table th,
agtc-result table td {
  padding: 2px 5px;
  text-align: center;
}

agtc-result table th {
  color: #E5E54C;
  border-bottom: 2px solid #555;
  line-height: 1.5;
}

agtc-result table td {
  color: #E5E54C;
  line-height: 1.1;
}

agtc-result .highlight td {
  color: #D94848 !important;
  font-weight: bold;
}

agtc-result footer {
  margin-top: 15px;
  color: #E5E54C;
  text-align: center;
}

agtc-result .warning {
  margin-top: 10px;
  color: #F0F;
}

agtc-output button {
  background-color: #28A745;
}

agtc-output button:hover {
  background-color: #28A745;
}



