@import url('normalize.css');

body {
  font-family: Tahoma, sans-serif;
  background-color: #1E1E1E;
  color: #CCC;
  padding: 30px;
  width: 720px;
  margin: 0 auto;
}

h1 {
  color: #DCDCDC;
  margin-bottom: 10px;
  font-size: 20px;
}

h2 {
  color: #2AA63E;
  font-size: 16px;
}

main {
  margin-top: 40px;
}


button {
  padding: 10px 20px;
  background-color: #007ACC;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #0098FF;
}
